# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Database
db.sqlite3

# Django stuff
*.log
staticfiles/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db